@page "/collections/{CollectionId}/collection-item/new"
@implements IDisposable;
@inject IJSRuntime _jsRuntime;
@inject IMatToaster _toaster;
@inject IElasticBand _elasticBand;
@inject NavigationManager _navigationManager;

@if (_isLoading == true)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="text-align: right; float:right; margin: 2px;">
        <MatButton Raised="true" Icon="keyboard_backspace" @onclick="NavigateBackToCollection">Back to collection</MatButton>
        <MatButton Raised="true" Icon="save" @onclick="SaveChanges">Save Changes</MatButton>
    </div>

    <h1>Creating new Item</h1>
    <p><MatTextField Value="@ItemId" Label="Id" Style="width:100%;" Outlined="true"></MatTextField></p>
}
<p>
    <div id="newItemEditorContainer" style="width:1200px; height: 500px; padding-top: 20px;"></div>
</p>

@code {

    [Parameter]
    public string CollectionId { get; set; }
    [Parameter]
    public string ItemId { get; set; }

    private CollectionDefinition _collection;

    private JsonElement _collectionItem;
    private bool _isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        _collection = await GetCollectionDefinition(CollectionId);
        ItemId = _collection.ExampleIdPattern;
        _collectionItem = await CreateNewItem();
        StateHasChanged();
        await _jsRuntime.InvokeVoidAsync("monacoEditorFunctions.setContents", "newItemEditorContainer", "json", _collectionItem.ToString());
        _isLoading = false;
    }

    private async Task<CollectionDefinition> GetCollectionDefinition(string id)
    {
        var response = await _elasticBand.GetDocumentByID<CollectionDefinition>(CollectionDefinition.collectionsIndex, id).ConfigureAwait(false);

        if (response.Ok)
            return response.Data;

        return null;
    }

    private async Task<JsonElement> GetItemById(string itemId)
    {
        var response = await _elasticBand.GetDocumentByID<object>(_collection.Index, itemId).ConfigureAwait(false);

        if (response.Ok)
            return (JsonElement)response.Data;

        return new JsonElement();
    }

    private async Task<JsonElement> CreateNewItem()
    {
        var newItem = (JsonElement)JsonSerializer.Deserialize<object>(_collection.ExampleJsonObjectString);
        return newItem;
    }

    private async Task SaveChanges()
    {
        ItemId = ItemId.Replace("[NewGuid]", Guid.NewGuid().ToString());
        var exampleJsonObjectString = await _jsRuntime.InvokeAsync<string>("monacoEditorFunctions.getContents", "newItemEditorContainer");
        _collectionItem = (JsonElement)JsonSerializer.Deserialize<object>(exampleJsonObjectString, new JsonSerializerOptions { WriteIndented = true });

        // Add additional properties
        _collectionItem = _collectionItem
            .AddProperty("timestamp", DateTime.UtcNow)
            .AddProperty("id", ItemId);

        var response = await _elasticBand.Index<object>(_collection.Index, _collectionItem, ItemId).ConfigureAwait(false);
        Console.WriteLine(response.StatusCode);
       
        if (response.Ok)
        {
            _toaster.Add("Changes saved", MatToastType.Success);
            _collectionItem = await GetItemById(ItemId);
            _navigationManager.NavigateTo(Urls.CollectionItemWithId(_collection.Id, ItemId));
        }
        else
        {
            _toaster.Add("Changes not saved", MatToastType.Warning);
            Console.WriteLine($"Changes not saved {response.Result} {response.Warnings} {response.Errors}");
        }
    }

    private void NavigateBackToCollection()
    {
        _navigationManager.NavigateTo(Urls.CollectionWithId(_collection.Id));
    }

    public void Dispose()
    {
        _jsRuntime.InvokeAsync<string>("monacoEditorFunctions.disposeEditor", "newItemEditorContainer");
    }
}