@page "/"

<h1>ElasticBand UI</h1>

<p>Welcome to the ElasticBand UI.</p>
<p>If your elasticsearch is not running on localhost:9200 or if it requires authentication, please head to settings.</p>
<p>Otherwise go to collections or indicies to view and edit your data.</p>
<p>TODO: Some info about setting up a link from kibana?</p>
