@page "/settings"
@inject ILocalStorageService _localStorageService

<h1>Settings</h1>
<p><MatTextField @bind-Value="elasticSearchUrl" Label="Elasticearch URL" HelperText="defaults to http://localhost:9200" Style="width:100%;" Outlined="true"></MatTextField></p>
<p><MatTextField @bind-Value="elasticSearchApiKey" Label="Api Key" HelperText="defaults to an empty string" Style="width:100%;" Outlined="true"></MatTextField></p>

@code {
    public string elasticSearchUrl;
    public string elasticSearchApiKey;

    protected override async Task OnInitializedAsync()
    {
        elasticSearchUrl = await _localStorageService.GetItemAsync<string>("elasticSearchUrl");
        if (string.IsNullOrEmpty(elasticSearchUrl))
            elasticSearchUrl = "http://localhost:9200";

        elasticSearchApiKey = await _localStorageService.GetItemAsync<string>("elasticSearchApiKey");
        if (string.IsNullOrEmpty(elasticSearchApiKey))
            elasticSearchApiKey = "";
    }

    private async Task SaveSettings()
    {
        await _localStorageService.SetItemAsync("elasticSearchUrl", elasticSearchUrl);

        if(!string.IsNullOrEmpty(elasticSearchApiKey))
            await _localStorageService.SetItemAsync("elasticSearchApiKey", elasticSearchApiKey);
    }
}
